<!-- Main Header-->
<header class="main-header header-shaddow">
    <div class="container-fluid">
        <!-- Main box -->
        <div class="main-box">
            <!--Nav Outer -->
            <div class="nav-outer">
                <div class="logo-box">
                    <div class="logo"><a href="/Home/Index"><img src="~/images/logo.png" width="180" height="180" alt="" title=""></a></div>
                </div>
                <!-- Main Menu End-->
            </div>

            <div class="outer-box">

                <!-- Dashboard Option -->
                <div class="dashboard-option">
                    <a class="/Account/Logout" role="button"  aria-expanded="false">
                        <span class="name"><i class="la la-sign-out"></i> Çıkış</span>
                            
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Header -->
    <div class="mobile-header">

        <div class="nav-outer clearfix">

            <div class="outer-box">
                <!-- Login/Register -->
                <div class="login-box">
                    <a href="login-popup.html"><span class="icon-user"></span></a>
                </div>

                <button id="toggle-user-sidebar"><img src="images/resource/company-6.png" alt="avatar" class="thumb"></button>
            </div>
        </div>

    </div>

    <!-- Mobile Nav -->
    <div id="nav-mobile"></div>
</header>
<!--End Main Header -->