<!-- Sidebar Backdrop -->
<div class="sidebar-backdrop"></div>

<!-- User Sidebar -->
<div class="user-sidebar">

    <div class="sidebar-inner">
        <ul class="navigation">
            <li><a href="/Home/Index"> <i class="la la-home"></i> Anasayfa</a></li>
            <li><a href="/Personel/Personels"><i class="las la-user"></i> Personeller</a></li>
            <li><a href="/Team/Teams"><i class="las la-users"></i> Takımlar</a></li>
            <li><a href="/Shift/Shifts"><i class="la la-file-invoice"></i> Vardiyalar</a></li>
        </ul>
    </div>
</div>
<!-- End User Sidebar -->
